.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.secondary {
    margin-left: 10px;
}

@media (max-width: 800px) {
    .root img {
        width: 170px;
        /* height: 16.67px; */
    }
}